fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
aiosqlite
pydantic
pydantic-settings
python-multipart
python-dotenv

PyMuPDF
Pillow

jinja2
reportlab

httpx
google-auth
requests
bcrypt
python-jose[cryptography]

pytest
pytest-asyncio